<div class="messages_text">
	<%= form_for Message.new do |f| %>
		<%= f.text_area :description, :placeholder => "Type Comment Here" %>
    	<%#<%= f.text_field :user_id, :value => "#{@current_user.id}", class: "hidden" %>
    	<%= f.text_field :hire_type, :value => hire_type_obj.name , class: "hidden" %>
		<%= f.submit "Comment", class: "msg-submit" %><br>
	<% end %>
	</div>

</html>

</div>