<div class="messages_text">
	<%# <%= form_for @message do |f| %>
	<%= form_for Message.new do |f| %>
		<%= f.text_area :description, :placeholder => "Type Comment Here" %>
    	<%= f.text_field :user_id, :value => "#{@current_user.id}", class: "hidden" %>
    	<%# <%= f.text_field :hire_type, :value => "#{@hire_type}", class: "hidden" %>
		<%= f.submit "Comment", class: "msg-submit" %><br>
	<% end %>
 
<div id="log"></div>
 
<script>
$( "body" ).click(function( event ) {
	var target = $(event.target);
	var ta = $("textarea.text_area")
	var ta2 = $("div.messages_text")
	if (ta.is(target)) {
  $( "#log" ).html( "clicked: " + event.target.nodeName );
}
});
</script>
 

</html>

</div>