<div class="shell">
  <div class="container">
    <div class="title">Gap Inc.</div>
    <div class="form">
      <% flash.each do |message_type, message| %>
        <div class="alert alert-<%= message_type %>"><%= message %></div>
      <% end %>
      <%= form_for(:session, url: login_path) do |f| %>
      <%= f.email_field :email, :placeholder => "Email", :autocomplete => :off %>
      <%= f.password_field :password, :placeholder => "Password" %>
    </div>
      <%= f.submit "Log In", class: "btn-submit" %><br>
      <%= link_to "Don't have an account?", signup_path, method: "get", action: 'create'%>
      <% end %>
  </div>
</div>



