<div class="message_container">
<div class='comments_title'><h1><i class='fa fa-weixin'></i>Chat</h1></div>

    <%= render partial: "comments/comment" %>

    <div class="comments_text" autofocus="autofocus">
    <%= form_for(@comment) do |f| %>
      <%= f.text_field :comment, :placeholder => "Leave a message.", :autofocus => true, :autocomplete => :off, :id => "comment" %>
      <%= f.text_field :receiver_email, :value => "#{@user.email}", class: "hidden" %>
      <%= f.text_field :receiver_name, :value => "#{@user.first_name}" + " " + "#{@user.last_name}", class: "hidden" %>
      <%= f.text_field :receiver_id, :value => "#{@user.id}", class: "hidden" %>
      <%= f.text_field :sender_email, :value => "#{@current_user.email}", class: "hidden" %>
      <%= f.text_field :sender_name, :value => "#{@current_user.first_name}" + " " + "#{current_user.last_name}", class: "hidden" %>
      <%= f.text_field :sender_id, :value => "#{@current_user.id}", class: "hidden" %>
    <%end%>
    </div>
</div>
