<div class ="application_container">
  <div class="expect_bar">
    <ul>
      <li><a href="#expect_container">Expect</a></li>
      <li><a href="#ny_container">New York</a></li>
      <li><a href="#sf_container">San Francisco</a></li>
      <li><a href="#benefits_container">Benefits</a></li>
      <li><a href="#forms_container">Forms</a></li>
    </ul>
  </div>

  <%= render "expect" %>
  <%= render "ny" %>
  <%= render "sf" %>
  <%= render "benefits" %>
  <%= render "forms" %>

  <footer>
    <ul class="political">
      <li> Terms of Use |</li>
      <li> Privacy Policy | </li>
      <li> &copy; 2016 Gap Inc.</li>
    </ul>
  </footer>
</div>


