  <h2><%= link_to display.name, hire_type_board_path(display) %></h2>
    <div>
    <% get_messages_of_type(display.name).each do |message| %>
		<h2><%= message.description %></h2>
		<%= link_to "Edit", edit_message_path(message), class: "btn btn-default" %>
		<%= link_to "Delete", message, class: "btn btn-default", method: :delete, data: {confirm: "Are you sure?"}  %>
    <% end %>
</div>
<div>
    <%= render partial: "messages/new", locals: {hire_type_obj: display} %>
</div>