<div class="message_board_container">
   
    <div class="message_board_title">
      <span><%= @hire_type.name %></span> 
      <div class="time_stamp">
        <%=@hire_type.created_at.strftime("%D %l:%M%p")%>
      </div>
    </div> 
    
    <div class="message_board_content">
      <% get_messages_of_type(@hire_type.name).each do |message| %>
    <%= message.description %>
    <div class="configure_buttons">
    <% if message.user_id == current_user.id  %>
      <%= link_to "Edit", edit_message_path(message), class: "btn btn-default" %>
      <%= link_to "Delete", message, class: "btn btn-default", method: :delete, data: {confirm: "Are you sure?"}  %>
    <% end %>
    </div>
    <br>
    <%=link_to message.user_name, user_path(message.user_id)%><br>
    <%= message.created_at.strftime("%a %e %l:%M%p")%><br><br>
  </div>
  <% end %>
  
  <%= render partial: "messages/new", locals: {hire_type_obj: display} %>
</div>

