<div class="shell">
  <div class="container">
    <div id="signup">Sign Up</div>
      <div class="form">
        <%= form_for(@user) do |f| %>
          <%= render 'shared/error_messages', :target => @user %>
          <%= f.text_field :first_name, :placeholder => "First Name", :autocomplete => :off %>
          <%= f.text_field :last_name, :placeholder => "Last Name", :autocomplete => :off %>
          <%= f.email_field :email, :placeholder => "Email", :autocomplete => :off %>
          <%= f.password_field :password, :placeholder => "Password", :autocomplete => :off %>
          <%= f.password_field :password_confirmation, :placeholder => "Confirm password", :autocomplete => :off %>
          <%= f.text_field :code, :placeholder => "Sign-up Code", :autocomplete => :off %>
      </div>
        <div id="checkbox">
          <%= f.check_box :terms %>I agree to the <a href="#">terms and conditions</a>
        </div>

        <%= f.submit "Create Account", class: "btn-submit" %><br>
        <%= link_to "Already have an account?", login_path, method: "get", action: "new"%>
      <% end %>
  </div>
</div>
