<!DOCTYPE html>
<html>
<head>
  <title>Profile</title>
</head>
<body>
  <div class="profile_background">
    <div class="profile_container">
      <div class="img_container">
        <%= image_tag @user.image, :class => "profile_pic"%>
        <ul>
          <% if @user.facebook != ""%>
          <li><%= link_to image_tag("facebook.png", size: "25x25"), "#{@user.facebook}"%></li>
          <% end %>
          <% if @user.linkedin != ""%>
          <li><%= link_to image_tag("linkedin.png", size: "25x25"), "#{@user.linkedin}"%></li>
          <% end %>
          <% if @user.twitter != ""%>          
          <li><%= link_to image_tag("twitter.png", size: "25x25"), "#{@user.twitter}"%></li>
          <% end %>
          <% if @user.instagram != ""%>
          <li><%= link_to image_tag("instagram.png", size: "25x25"), "#{@user.instagram}"%></li>
          <% end %>
        </ul>
      </div>

      <div class="information_container">
        <ul>
          <li> <div class="name"><%=@user.first_name%>  <%=@user.last_name%></div></li>
          <li> <%= @user.position %> </li>
          <li> <%= @user.location %> </li>
          <li> <%= @user.school %> </li>
          <li> <%= @user.email %> </li>
        </ul>
      </div>


    <div class="about_container">
      <span> <%= @user.about %> </span>
    </div>
    </div>

  </div>
</body>
</html>