<!DOCTYPE html>
<html>
<head>
  <title>Profile</title>
</head>
<body>
  <div class="profile_background">
    <div class="profile_container">
      <div class="img_container">
        <%= image_tag @user.image, :class => "profile_pic"%>
        <ul>
          <li><%= link_to image_tag("facebook.png", size: "25x25"), "#{@user.facebook}"%></li>
          <li><%= link_to image_tag("linkedin.png", size: "25x25"), "#{@user.linkedin}"%></li>
          <li><%= link_to image_tag("twitter.png", size: "25x25"), "#{@user.twitter}"%></a></li>
          <li><%= link_to image_tag("instagram.png", size: "25x25"), "#{@user.instagram}"%></a></li>
        </ul>
      </div>
    </div>


    <!--
    <li> <%= @user.first_name %> </li>
    <li> <%= @user.last_name %> </li>
    <li> <%= @user.email %> </li>
    <li> <%= @user.position %> </li>
    <li> <%= @user.location %> </li>
    <li> <%= @user.school %> </li> -->
    

    </div>
  

</body>
</html>