<!DOCTYPE html>
<html>
<head>
  <title>Profile</title>
</head>
<body>
  <%= t = @user %>
  <ul class = "information">
    <li> <%= t.image %> </li>
    <li> <%= t.first_name %> </li>
    <li> <%= t.last_name %> </li>
    <li> <%= t.email %> </li>
    <li> <%= t.facebook %> </li>
    <li> <%= t.linkedin %> </li>
    <li> <%= t.twitter %> </li>
    <li> <%= t.instagram %> </li>
    <li> <%= t.position %> </li>
    <li> <%= t.location %> </li>
    <li> <%= t.school %> </li>
  </ul>

</body>
</html>