<div class ="application_container">
  <div class="global_bar">
    <ul>
      <li><a href="#apeck_container">Art Peck<a></li>
      <li><a href="#ssimmons_container">Sabrina Simmons<a></li>
      <li><a href="#aowen_container">Andi Owen<a></li>
      <li><a href="#slarsson_container">Stephen Larsson<a></li>
      <li><a href="#ngreen_container">Nancy Green<a></li>
      <li><a href="#jrao_container">Jyothi Rao<a></li>
      <li><a href="#sgoldfarb_container">Sol Goldfarb<a></li>
      <li><a href="#mbanks_container">Michelle Banks<a></li>
      <li><a href="#bsilten_container">Bobbi Silten<a></li>
      <li><a href="#rmiolla_container">Ray Miolla<a></li>
    </ul>
  </div>

  <%= render "apeck" %>
  <%= render "ssimmons" %>
  <%= render "aowen" %>
  <%= render "slarsson" %>
  <%= render "ngreen" %>
  <%= render "jrao" %>
  <%= render "sgoldfarb" %>
  <%= render "mbanks" %>
  <%= render "bsilten" %>
  <%= render "rmiolla" %>

  <footer>
    <ul class="political">
      <li>
        <ul class="forms">
          <li>Forms |</li>
          <li>---------</li>
          <li><a href="assets/backgrounds/form.pdf">Form1</a></li>
          <li>Form2</li>
          <li>Form3</li>
        </ul>
      </li>
      <li> Terms of Use |</li>
      <li> Privacy Policy | </li>
      <li> &copy; 2016 Gap Inc.</li>
    </ul>
  </footer>
</div>





