<div class="profile_background">
  <div class="content_container">
    <%= flash[:success].html_safe unless flash[:success].blank? %>

    <div class="profile_container">

      <div class="img_container">
        <%= image_tag @global.image, :class => "profile_pic"%>
        <ul>
          
        </ul>
      </div>

      <div class="information_container">
        <ul>
          <li> <div class="name"><%=@global.first_name%>  <%=@global.last_name%></div></li>
          <li> <%= @global.position %> </li>
          <li> <%= @global.email %> </li>
        </ul>
      </div>

      <div class="about_container">
        <span> <%= @global.about %> </span>
      </div>
    
    </div>

  </div>
</div>
