<div class ="application_container">
  <div class="brands_bar">
    <ul>
      <li><a href="#gap_container">Gap<a></li>
      <li><a href="#on_container">Old Navy<a></li>
      <li><a href="#athleta_container">Athleta<a></li>
      <li><a href="#br_container">Banana Republic<a></li>
      <li><a href="#intermix_container">Intermix<a></li>
    <ul>
  </div>

  <%= render "gap_brand" %>
  <%= render "on_brand" %>
  <%= render "athleta_brand" %>
  <%= render "br_brand" %>
  <%= render "intermix_brand" %>
</div>










